.config/qutebrowser/autoconfig.yml         # Generated if you use :set or GUI
.config/qutebrowser/qsettings/             # Qt binary settings
.config/qutebrowser/state/                 # Sessions, history, cache
.config/qutebrowser/crash_backup/          # Crash recovery
.config/qutebrowser/webengine/             # Web engine cache/state
