.config/qutebrowser/autoconfig.yml
.config/qutebrowser/qsettings/
.config/qutebrowser/state/
.config/qutebrowser/crash_backup/
.config/qutebrowser/webengine/
.config/qutebrowser/quickmarks
.config/gtk-3.0/bookmarks/
.state/amm92/system-theme
